<!--Pagination-->
<nav aria-label="Page navigation example ">
    <div class="pagination-container container">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <a class="page-link" href="javascript:history.back()">
                <li class="page-item">
                    <i class="fa-solid fa-backward"></i>
                    <span>Back</span>
                </li>
            </a>
        {% else %}
            <a class="page-link" href="javascript:history.back()" tabindex="-1" aria-disabled="True">
                <li class="page-item disabled">
                    <i class="fa-solid fa-backward"></i>
                    <span>Back</span>
                </li>
            </a>
        {% endif %}

            {% if page_obj.has_next %}
                <a class="page-link" href="{% url 'recipes:home' %}">
                    <li class="page-item">
                        Home
                        <i class="fa-solid fa-house"></i>
                    </li>
                </a>
            {% else %}
                <a class="page-link" href="{% url 'recipes:home' %}" tabindex="-1" aria-disabled="True">
                    <li class="page-item disabled">
                        Home
                        <i class="fa-solid fa-house"></i>
                    </li>
                </a>
            {% endif %}
    </ul>
</div>
</nav>
<!--end of Pagination-->


<!-- Optional Javascript -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>