{% extends "global/base.html" %}

{% block title %}Your Recipes{% endblock title %}

{% block content %}
    <div class="center main-content container">
        <div class="recipe-title-container dashboard-recipe-user-edit">
            <h2 class="recipe-title">
                <a href="{% url 'authors:dashboard' %}">
                    Recipes
                </a>
            </h2>
        </div>

        {% include "global/partials/messages.html" %}
        {% include "authors/partials/login_messages.html" %}
        <div class="left">
            {% include "global/partials/form.html" %}
        </div>
    </div>

{% endblock content %}